extends layout.pug 

block content
    .row.justify-content-center
        h2.page-section-heading.text-center.text-uppercase.text-primary=title 

        if tasks.length
            ul.list-group.tasks.mt-5.col-6
                each task in tasks
                    li.list-group-item.list-group-item-action.d-flex.justify-content-center
                        a(href=`/tasks/one/${ task.id }`)
                            if task.solved 
                                button.btn.btn-outline-primary.p-2= task.topic
                            else 
                                button.btn.btn-outline-danger.p-2= task.topic
                    

