extends layout.pug 

block content
    .row.justify-content-center
        .col-lg-8.col-xl-7
            h2.page-section-heading.text-center.text-uppercase.text-primary New Application

            form#applicationForm(method="POST")
                if success
                    #submitSuccessMessage
                        .text-center.text-info.mb-3
                            .fw-bolder Form submitted successfully!
                else
                    #submitErrorMessage
                        .text-center.text-danger.mb-3 Please fill all required fields.

                // Name input
                .form-floating.mb-3
                    input#name.form-control(type='text' name="name" required=true)
                    label(for='name') Full name*

                // Email address input
                .form-floating.mb-3
                    input#email.form-control(type='text' name="email")
                    label(for='email') Email address

                // Phone number input
                .form-floating.mb-3
                    input#phoneNumber.form-control(type='text' name="phoneNumber" required=true)
                    label(for='phoneNumber') Phone number*
                    .invalid-feedback(data-sb-feedback='phone:required') A phone number is required.

                // Topic input
                .form-floating.mb-3
                    input#topic.form-control(type='text' name="topic" required=true)
                    label(for='topic') Issue Topic*


                // Description input
                .form-floating.mb-3
                    textarea#description.form-control(type='text' name="description" style='height: 8rem')
                    label(for='description') Issue Description

                input#submit.btn.btn-primary.btn-xl(type='submit' onclick="submitForm()") 
    script.
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
