doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width", initial-scale="1.0")
    title= title
    link(rel='stylesheet', href='/styles/styles.css')
 
  body
    if success
      p Your application is successfully received!
    else
      p Please, fill up all the fields

    form(method="POST")
        input(type="text", name="name", placeholder="Name")
        input(type="text", name="email", placeholder="Email")
        input(type="text", name="phoneNumber", placeholder="Phone Number")

        input(type="text", name="topic", placeholder="Topic")
        input(type="text", name="description", placeholder="Description")
        input(type="submit", value="Add")