extends layout.pug 

block content
    // About Section Heading
    h2.page-section-heading.text-center.text-uppercase.text-primary About
    // About Section Content
    .row
        .col-lg-4.ms-auto
            p.lead
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam inventore esse laborum! Assumenda harum, architecto deserunt praesentium accusamus molestias nam sequi quos id quibusdam?
        .col-lg-4.me-auto
            p.lead
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam eligendi deleniti consequuntur maxime amet? Totam in exercitationem est incidunt, veritatis tempore perferendis neque hic!
    // About Section Button
    .text-center.mt-4
        a.btn.btn-xl.btn-primary(href='/tasks/create')
            i.fas.fa-download.me-2
            |                         Leave Application
