extends layout.pug 

block content
    // About Section Heading
    h2.page-section-heading.text-center.text-uppercase.text-primary About
    // About Section Content
    .row
        .col-lg-4.ms-auto
            p.lead
            | You are just visiting the most glorious and quality tech support website. Our services are known to be featured by Forbes as the brand of the year 2022. If you don't believe, don't believe. Who cares?
        .col-lg-4.me-auto
            p.lead
            | The words on the left side are somehow true. But I would recommend to think before believing them. Here should be some text about imaginary service. But I did not know what to write and came up with this text.
    // About Section Button
    .text-center.mt-4
        a.btn.btn-xl.btn-primary(href='/tasks/create')
            i.fas.fa-download.me-2
            |                         Leave Application
